# 如果有nvidia显卡，这个命令能在pytorch官网直接下载cuda版本，不用再安装cuda环境
--extra-index-url https://download.pytorch.org/whl/cu118
matplotlib==3.9.2
networkx==3.4.2
numpy==2.1.2
pandas==2.2.3
pickle5==0.0.11
Pillow==11.0.0
pyproj==3.7.0
scipy==1.13.1
torch==2.5.1
torch_geometric==2.6.1
